---
title: Email Verification API Code Samples
repository_url: //github.com/whois-api-llc/email-verification
releases_url: //github.com/whois-api-llc/email-verification/releases
header: Email Verification API
---
<div class="toc">
    <a class="button" href="./brand-alert"><div class="toc-item">Brand Alert API</div></a>
	<a class="button" href="./bulk-whois"><div class="toc-item">Bulk Whois API</div></a>
	<a class="button" href="./dns-lookup"><div class="toc-item">DNS Lookup API API</div></a>
    <a class="button" href="./domain-availability"><div class="toc-item">Domain Availability API</div></a>
    <a class="button" href="./registrant-alert"><div class="toc-item">Registrant Alert API</div></a>
    <a class="button" href="./reverse-whois"><div class="toc-item">Reverse Whois API</div></a>
	<a class="button" href="./"><div class="toc-item">Whois API</div></a>
</div>

# Making a query to Email Verification API web service


Here you'll find short examples of using
[emailverification.whoisxmlapi.com](https://emailverification.whoisxmlapi.com/) Hosted Email Verification Web API
implemented in multiple languages.

You can view more sample code, incl. dealing with the API's response formats,
regenerating access tokens and more, in the
[repository]({{ site.github.repository_url }}).


Please, refer to
[Email Verification API User Guide](https://emailverification.whoisxmlapi.com/docs) for
authentication instructions.

## API key authentication

<ul id="profileTabs" class="nav nav-tabs" role="tablist">
    <li class="active"><a href="#csharp-key" data-toggle="tab">C#</a></li>
    <li><a href="#java-key" data-toggle="tab">Java</a></li>
    <li><a href="#jquery-key" data-toggle="tab">jQuery</a></li>
    <li><a href="#nodejs-key" data-toggle="tab">Node.js</a></li>
    <li><a href="#php-key" data-toggle="tab">PHP</a></li>
    <li><a href="#perl-key" data-toggle="tab">Perl</a></li>
    <li><a href="#powershell-key" data-toggle="tab">PowerShell</a></li>
    <li><a href="#python-key" data-toggle="tab">Python</a></li>
    <li><a href="#ruby-key" data-toggle="tab">Ruby</a></li>
</ul>

<div class="tab-content">

<div role="tabpanel" class="tab-pane active" id="csharp-key">
<div class="container-fluid" markdown="1"> 
```c#
{% include_relative assets/samples/email.verification/net/EmailApi.cs %}
```
</div>
</div>

<div role="tabpanel" class="tab-pane" id="java-key">
<div class="container-fluid" markdown="1"> 
```java
{% include_relative assets/samples/email.verification/java/EmailAPIQuery.java %}
```
</div>
</div>

<div role="tabpanel" class="tab-pane" id="jquery-key">
<div class="container-fluid" markdown="1"> 
```html
{% include_relative assets/samples/email.verification/js/email_api.html %}
```
</div>
</div>

<div role="tabpanel" class="tab-pane" id="nodejs-key">
<div class="container-fluid" markdown="1"> 
```js
{% include_relative assets/samples/email.verification/nodejs/email_api.js %}
```
</div>
</div>

<div role="tabpanel" class="tab-pane" id="php-key">
<div class="container-fluid" markdown="1"> 
```php
{% include_relative assets/samples/email.verification/php/email_api.php %}
```
</div>
</div>

<div role="tabpanel" class="tab-pane" id="perl-key">
<div class="container-fluid" markdown="1"> 
```perl
{% include_relative assets/samples/email.verification/perl/email_api.pl %}
```
</div>
</div>

<div role="tabpanel" class="tab-pane" id="powershell-key">
<div class="container-fluid" markdown="1"> 
```posh
{% include_relative assets/samples/email.verification/powershell/email_api.ps1 %}
```
</div>
</div>

<div role="tabpanel" class="tab-pane" id="python-key">
<div class="container-fluid" markdown="1"> 
```python
{% include_relative assets/samples/email.verification/python/email_api.py %}
```
</div>
</div>

<div role="tabpanel" class="tab-pane" id="ruby-key">
<div class="container-fluid" markdown="1"> 
```ruby
{% include_relative assets/samples/email.verification/ruby/email_api.rb %}
```
</div>
</div>

</div>
